body {
    font-family: 'cursive', 'cursive', 'cursive', 'cursive';
    background-color: #000000de;
    color: hsl(62, 97%, 51%);;
}

.cupcake {
    display: flex;
}

.flex1 {
    /* flex : 1 */
}

.flex2 {
    flex : 1 1 100px
}

.pl1 {
    padding-left: 1em;
}

.img {
    align-self: flex-start;
    height: 6em; 
    max-width: 100%;
}


.cupcake_box {
    padding: 1em;
    margin: 10px 50px 20px 0;
    border-radius: 25% 10%;
}

.cupcake1 {
    background-color: #002aff5c;
}

.cupcake2 {
    background-color: #e9ec6099;
}

.cupcake3 {
    background-color: #f9b397b3;
}

.blue {
    background-color: #000000;
}